*.out
*.aux
*.fdb_latexmk
*.log
*.pdf
*.synctex.gz
An Evaluation of Naive Bayesian Anti-Spam Filtering翻译.docx
本科毕业设计开题报告.docx
*.zip
demo.*
*.fls
nb_spam/__pycache__
nb_spam/trec06c
nb_spam/venv
nb_spam/.idea
nb_spam/data
nb_spam/dataset.pickle
